body {
    font: 14px "Helvetica Neue", Futura, sans-serif;
    margin: 20px;
}

.navElement {
    margin: 50px;
}

.page {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.profilBox {
    width: 300px;
    height: 300px;
    border: 3px solid black;
}
